// =====================================
// FUNCTIONS
// =====================================

@function pxtoperc($target, $context:$max-width) {
	@return ($target / $context) * 100%;
}


@function per-line($items) {
	$g-pct: px-to-pc($gutter) * 2;
	$-total: $items * $g-pct;
	@return (100% / items) - $g-total;
}


@function gcontext($gcolwidth, $gcolcount, $ggutterwidth){
	$gcontext: ($gcolwidth * $gcolcount) + ($ggutterwidth * ($gcolcount - 1));
	@return $gcontext;
  }