
//===============================
// VERIABLES
// ==============================

// color
$color-primary	: #58e1c1;
$color-bg		: #fff;
$color-font		: #818181;
$color-border	: #cdcdcd;


// color button
$color-default	: #51ddfc;
$color-success	: #63cc82;
$color-error	: #e4757a;
$color-warning	: #fd7856;
$color-info		: #927bc1;


// color variable
$color-default-light: 	lighten($color-default, 10%);
$color-default-dark: 	darken($color-default, 10%);

$color-success-light: 	lighten($color-success, 10%);
$color-success-dark: 	darken($color-success, 10%);

$color-error-light: 	lighten($color-error, 10%);
$color-error-dark: 		darken($color-error, 10%);

$color-warning-light: 	lighten($color-warning, 10%);
$color-warning-dark: 	darken($color-warning, 10%);

$color-info-light: 		lighten($color-info, 15%);
$color-info-dark: 		darken($color-info, 10%);


// fonts
$font-stack: 'Krub', sans-serif;


 // layout

 $max-width: 1400px;


// aligment

$align-l	: left; 
$align-c	: center;
$align-r	: right;

// border radius
$b-radius: 3px;


// breakpoint
$break-mobil	: 480px;
$break-screen	: 1400px;
