
//===============================
// VERIABLES
// ==============================

// color
$color-primary	: #58e1c1;
$color-bg		: #fff;
$color-font		: #818181;
$color-border	: #cdcdcd;


// color button
$color-default	: #51ddfc;
$color-success	: #63cc82;
$color-error	: #e4757a;
$color-warning	: #fd7856;
$color-info		: #927bc1;


// color variable
$colorgrid: (
    "12" :  #70e5cb,
    "8"  :  #ff9477,
    "7"  :  #eb9498,
    "6"  :  #31A1C5,
    "5"  :  #7ad594,
    "4"  :  #6ee2ff,
    "3"  :  #daa7ed,
);


// fonts
$font-stack: 'Krub', sans-serif;


 // layout

 $max-width: 1400px;


// aligment

$align-l	: left; 
$align-c	: center;
$align-r	: right;

// border radius
$b-radius: 3px;


// breakpoint
$break-mobil	: 480px;
$break-screen	: 1400px;







// test veribal

$g-col-width: 40px;
$g-gutter-width: 10px;
$g-col-count: 12;
$g-container-max-width:1000px;