// buttons

.btn--default {
	background-color: $color-default;
}
    
.btn--success {
	background-color: $color-primary;
}

.btn--error {
	background-color: $color-error;
}

.btn--warning {
	background-color: $color-warning;
}

.btn--info {
	background-color: $color-info
}

.theme__colors {}
