// forms

.form {
	display: flex;
	flex-direction: column;

	

}


.form__label--hidden{
	display: none;

}
    
 .form__input {
	height: 40px;
	border: none;
	border-bottom: 4px solid $color-primary;
	outline: none;
	color: $color-bg;
	text-align: $align-c;
 }


