// forms

.form {
	margin: 100px 0 50px;
	display: flex;
	flex-direction: column;
	legend {
		width: $screen;
		margin: 0;
		justify-content: flex-start;
		}

	

}


.form__label--hidden{}
    
 .form__input {}


