//=====================================
// GIRD
//=====================================

.container {
	margin: 0 auto;
	padding: 0;
	width: 90%;
	text-align: $align-c;
	font-family: $font-stack;
	background-color: $color-bg;
	color: $color-font;
}



.grid__row {
	margin: 30px 0;
	@include mq("mobil") {
		@include flex($dir: row, $just: space-between);
		border: 1px solid black;	
	}

}




.centered {}

.theme__colors {
	padding: 10px 0;
	margin: 8px 0;
	border-radius: $b-radius;

}

@for $i from 3 through $g-col-count {
	$context: gcontext($g-col-width, $g-col-count, $g-gutter-width);
	$target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1) );
	.grid__col--#{$i}{
		@include color_grid(#{$i});	
	}
}

















