// header grid

.container {

}




.grid__row {
	margin: $margin-grid;

}




.grid__col--2 {}


.grid__col--3 {}


.grid__col--4 {}


.grid__col--5 {}


.grid__col--6 {
}


.grid__col--7 {}


.grid__col--8 {}


.grid__col--9 {}


.grid__col--10 {}


.grid__col--11 {}


.grid__col--12 {}


.centered {}


.theme__color {}



.card {
	text-align: left;
}