//=====================================
// IMAGES
//=====================================




.img--logo {
	margin-bottom:40px;

}


.img--frame {
	width: 90%;
	border: 1px solid $color-border;
	padding: 10px;

	
}


.img--avatar {
	margin: 20px 0;
	align-self: center;

}