//=====================================
// IMAGES
//=====================================




.img--logo {
	margin-bottom:40px;

}


.img--frame {
	width: 80%;
	
}


.img--avatar {
	margin: 20px 0;
	align-self: center;

}