//=====================================
//NAVIGATION
//=====================================


.nav__item {
	@include flex-c;
	padding: 20px 0;
	a {
		color: $color-font;
		text-decoration: none;
		}
	&:hover{
	background-color: $color-primary;
	border-radius: $b-radius;
		a { 
		color: $color-bg;
		}
	}
	
}


.nav{
	@include mq(mobil) {
		@include flex-r;
		justify-content: flex-end;
		align-content: space-around;
	}


}

