//=====================================
//NAVIGATION
//=====================================


.nav {
	@include mq("mobil") {
		@include flex($dir: row);
		width: 500px;
		margin-top: 20px;
		margin-right: 100px;
	}
}	



.nav__item {
	padding: 20px 0;
	a {
		color: $color-font;
		text-decoration: none;
		}
	&:hover{
	background-color: $color-primary;
	border-radius: $b-radius;
		a { 
		color: $color-bg;
		}
	}
	@include mq("mobil") {
		flex-grow: 3;
	}	
	
}




