// Google fonts

@import url('https://fonts.googleapis.com/css?family=Krub:400,700');


.container {}


	



.blockquote {
	font-size: 24px;
	font-style: italic;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 8px solid $color-primary;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;


}


.headline--primary {
	color: $color-primary;
	padding-left: 20px;
	.link{
	color: $color-default;
	font-weight: bold;
	text-decoration: none;
	}
	
}


.headline--secondary{
	margin-top: 70px;
	font-weight: normal;
	text-align: $align-l;

}
