// ==========================================
// TYPOGRAPHY
// ==========================================


// Google fonts

@import url('https://fonts.googleapis.com/css?family=Krub:300,400,700');



// QUOTE AND HEADLINE LAYOUT

.blockquote {
	font-size: 24px;
	font-style: italic;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 8px solid $color-primary;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;


}


.headline--primary {
	color: $color-primary;
	padding-left: 20px;	
}


.headline--secondary{
	margin-top: 70px;
	font-weight: 300;
	text-align: $align-l;

}


.link {
	color: $color-default;
	font-weight: 700;
	text-decoration: none;
}