// base style

* {
	box-sizing: border-box;
	
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 90%;
	text-align: $align-c;
	font-family: $font-stack;
	background-color: $color-bg;
	color: $color-font;


	
}

p {
	line-height: 1.8;
	text-align: $align-l;
	
	
}
